email=pranaireddy.3636@gmail.com
#always-auth=true
#_auth=YWRtaW46cGFzc3cwcmQ=
registry.npmjs.org/:_auth=YWRtaW46YWRtaW4=
allowRepublish=true
//The above auth can be taken from #echo -n 'admin:admin' | openssl base64
